@model Job_search.Models.ApplyForJob
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";

}

<style>
    h4 {
        color: white;
    }

    h6 {
        margin-top: 20px;
    }
</style>
<div class="container jumbotron">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="card-header bg-primary ">تقديم طلب الوظيفة</h4>
        <div>
            @{
                if (ViewBag.massage != null)
                {
                    <h6 class="card-header alert-success" id="erorr">@ViewBag.massage</h6>
                }
                if (ViewBag.result != null)
                {
                    <h6 class="card-header alert-danger">@ViewBag.result</h6>
                }
            }
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Massage", "الرسالة", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:green;" })
            <div class="col-md-10">
                @Html.TextArea("Massage", new { htmlAttributes = new { @class = "form-control" }, rows = 10, cols = 50 })
                @Html.ValidationMessage("Massage", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("العودة الى القائمة", "Index", "", new { @class = "btn btn-primary" })
                <input type="submit" value="تأكيد" class="btn btn-success" id="button1" />
            </div>
        </div>
    </div>
    }
</div>
