@model Job_search.Models.Jobs

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<style>

    .button {

        margin-top: 20px;
        margin-left: 10px;
    }

    p {
        text-align: justify;
        line-height: 1.8;
    }

    .thumbnail {
        width: 170px;
        height: 140px;
    }

    .card-header {
        background-color: #25defd;
        color: white;
    }

    .card-body {
        background-color: #ececec;
        border: 4px solid white;
        border-radius: 15px;
    }
    h5.alert-danger{
        padding:10px;
    }
</style>
<div class="container jumbotron" >

    <h4 class="card-header bg-danger">حذف الوظيفة</h4>

    <h5 class="alert-danger">هل أنت متأكد من حذف الوظيفة ؟</h5>
    <div>
        <hr />
        <div class="card-body">
            <p>
                <strong>@Html.DisplayNameFor(model => model.Category.Categoryname):  </strong>
                @Html.DisplayFor(model => model.Category.Categoryname)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.JobTitle):</strong>
                @Html.DisplayFor(model => model.JobTitle)
            </p>
            <p>
                <strong> @Html.DisplayNameFor(model => model.JobContent):</strong>
                @Html.DisplayFor(model => model.JobContent)
            </p>
            <p>
                <strong> @Html.DisplayNameFor(model => model.JobImage):</strong>
                <br />
                <img class="thumbnail" src="~/Uploads/@Html.DisplayFor(model => model.JobImage)" />
            </p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="button offset-md-1 ">
        @Html.ActionLink("العودة الى القائمة", "Index", null, new { @class = "btn btn-primary" })
        <input type="submit" value="تأكيد الحذف" class="btn btn-danger" /> 
    </div>
        }
    </div>
    </div>